*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #284293;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000017, #284293);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000017, #284293); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
	padding: 50px 20px;
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #535252e3, #68C8F0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #535252e3, #68C8F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 25px;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px;
	animation: moverIzquierda 1s ease-in;
    align-content: center;
}

h1 {
	text-align: center;
	padding: 12px;
	color: #fff;
	animation: moverDerecha 1s ease-in;
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin-top: 12px;
	font-size: 16px;
	border-radius: 15px;
	background-color: #fff;
	color: #000;
	animation: moverDerecha 1s ease-in;
}

input:active, input:hover{
	width: calc(100% - 20px);
	padding: 9px;
	margin-top: 12px;
	font-size: 16px;
	border-radius: 15px;
	background-color: #b7d1ef;
	color: #000;
}

input[type='submit']{
	width: 50%;
    color:#68C8F0;
	background-color: #0578c5;
	display: inline-block;
    color:#000;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #68C8F0;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
}
input[type='submit']:hover,input[type='submit']:active{
	background: #284293;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6384e0, #284293);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6384e0, #284293); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-radius: 15px;
}

p{
	color: #fff;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a{
    color:#2DC653;
    text-decoration: none;
}

.img-icon{
    width: 40px;
    height: 40px;
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

div a{
    margin: 0 10px;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
}

img{
 width: 30.5%;   
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

div a{
    margin: 0 10px;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
}

.textos{
    width: 50%;
    color:#68C8F0;
}

.textos h1{
    font-size:80px;
    animation: moverDerecha 1s ease-in;

}

.textos h2{
    font-size:30px;
    animation: moverIzquierda 1s ease-in;
}

.textos h4{
    font-size: 20px;
    animation: moverDerecha 1s ease-in;
    color: #68C8F0;
}

.textos a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #68C8F0;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
}

.textos a:active, a:hover{
    background: #68C8F0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #090269, #17a2dd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #090269, #17a2dd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-radius: 15px;
}

.wave{
    height: 200px;
    width: 100%;
    background: #284293;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000017, #284293);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000017, #284293); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: #284293;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 40%;
    transition: all 1s ease;
    background: #000017;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000017, #17a2dd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000017, #17a2dd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.uno{
    
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos{
    
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px){
    img{
        height: 400px;
    }
}

@media screen and (max-width:800px){
    img{
        height: 370px;
    }
    .textos h1{
        font-size: 70px;
    }

    .textos h2{
        font-size: 25px;
    }
    
    .img-icon{
        width: 35;
    }
}

@media screen and (max-width:700px){
    img{
        height: 250px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2{
        font-size: 15px;
    }
    
    .img-icon{
        width: 25;
    }
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }    

    .img-icon{
        width: 25;
    }
}

@media screen and (max-width:340px){
    img{
        height: 160px;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos a{
        width: 120px;
    }
    .textos h2{
        font-size: 15px;
    }
    
    .img-icon{
        width: 15;
    }
}